<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/headerAdminPortal :: common-header">

</head>
<body>


<h5 class="center-block">Welcome to the admin portal</h5>


<hr />
<div class="container">

<!--<img id="myAccountLogo" src="/image/AgileIntelligenceLogoDown.svg" alt="" class="img-responsive" style="size: 50px;"/>-->
<div class="row">
    <div class="col-xs-4 col-md-offset-4">
        <div class="bg-danger" th:if="${param.error}">
            Invalid username and password
        </div>
        <div class="bg-danger" th:if="${param.Logout}">
            Logged out succesfully
        </div>
        <form class="form-signin" th:action="@{/adminLogin}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <div class="form-group">
                <label for="username" class="sr-only">Username</label>
                <input type="text" class="form-control"
                       placeholder="Username" name="username" id="username" required="required" autofocus="autofocus"/>
            </div>

            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control"
                       placeholder="Password" name="password" id="password" required="required" autofocus="autofocus"/>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>

        </form>
    </div>
</div>

</div>

<div th:replace="common/headerAdminPortal :: body-bottom-scripts"></div>


</body>
</html>